# Java build files
*.class
*.jar
*.war
*.ear

# Maven
target/
.mvn/

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

patients_service/data/*

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
